
.Button{
  cursor: pointer;
    background: #EBECF0;
    border: none;
    box-sizing: border-box;
    color: #1b0d4e;;
    padding: 32px;
    font-family: 'acaslonpro-regular', sans-serif;
    line-height: 23px;
    margin: 20px;
    box-shadow: blueviolet;
    border-radius: 3px;
    font-weight: 400;
    font-size: 15px;
    border: none;
    padding: 13px 36px;
    border-radius: 40px;
    color: #1b0d4e;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0) !important;
    transition: box-shadow .25s ease !important;
}

@-moz-document url-prefix() {
    .Button{
        font-weight: 100;
    }
}

.Button:hover{
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, .15), inset -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2) !important;
}
